{{define "clusterURL"}}
    {{- json .baseURL -}}
    ?siteId={{block "getSiteID" .}}{{.siteID | json | urlquery -}}{{end -}}
    &updateAfter={{int .lastUpdated | formatTime `2006-01-02T15:04:05.000Z` | urlquery -}}
{{- end -}}

{{define "jsonRPC" -}}
    {{/* wrap output in JSONRPC envelope */}}
    {
    "jsonrpc": "2.0",
    "id" : "{{.id|str}}",
    "method" : "{{.method|json|str}}",
    "params" : {{.params}}
    }
{{- end -}}

