{{define "splitMQTTCreds"}}
    {{with splitN (trimSpace (str .fileData)) "\t" 2 -}}
        {{if ne (len .) 2}}{{err "invalid MQTT credentials - wrong length %d" (len .)}}{{end -}}
        {
        "username": "{{trimSpace (index . 0)}}",
        "password": "{{trimSpace (index . 1)}}"
        }
    {{- end -}}
{{- end -}}

