{{define "siteIDURL" -}}
    "https://{{with split (str outboundIP) "." -}}
        {{printf "%s.%s.%s.1" (index . 0) (index . 1) (index . 2)}}
    {{- end -}}
    /b.service/api/device"
{{- end -}}

{{define "getSiteID" -}}
    {{with json .siteData}}{{.data.deviceName | urlquery}}{{end}}
{{- end -}}
